.title{
  color: red;
}


.subtitle{
  color: red;
}


.label{
  color: red;
}


#oogaBooga{
  color: red;
}



#joke{
  color: yellow;
}

#joke2{
  color: yellow;
}


p{
  color: red;
}

#search-btn{
  color: black;
}




.button{
    color: black;
    border-color:red;
    background-color: #00d1b2;

}
html{
    background-color: black;
}

.navbar{
    background-color: black;
}

#history-container{
  border-radius: 5px;
  padding: 5px;
  background-color: red;

}

.input{
  color: yellow;
  background-color: black;
}

.input::placeholder{
  color: yellow;
}






h6{
  color: red;
}


a:link {
  color: yellow; 
  background-color: transparent; 
  text-decoration: none;
}

a:visited {
  color: yellow;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: pink;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}